<a href="https://colab.research.google.com/github/Wilheim-ops/Wilheim-ops/blob/main/Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
training = pd.read_csv('Data2018and2017.csv')
training

   Administration Medical_certificate Medical_history  ...  Shuttle_run  MI  Decision
0             Yes                 Fit            None  ...           86  90    Passed
1             Yes                 Fit            None  ...           90  89    Passed
2             Yes                 Fit            None  ...           86  89    Passed
3             Yes                 Fit            None  ...           71  83    Failed
4             Yes                 Fit            None  ...           80  79    Failed
5             Yes                 Fit     U_Treatment  ...           95  45    Failed
6             Yes                 Fit            None  ...           78  89    Passed
7             Yes             Not_Fit     U_Treatment  ...           50  90    Failed
8             Yes                 Fit            None  ...           70  93    Passed
9              No                 Fit            None  ...           90  89    Passed
10            Yes                 Fit            None  ...           80  75    Failed
11            Yes                 Fit            None  ...           88  70    Failed
12            Yes                 Fit            None  ...            0  65    Failed
13            Yes                 Fit            None  ...           68  75    Failed
14            Yes                 Fit     U_Treatment  ...           87  75    Passed
15            Yes                 Fit            None  ...           80  80    Passed
16            Yes                 Fit            None  ...           70  76    Passed
17            Yes                 Fit            None  ...           89  90    Passed
18            Yes                 Fit            None  ...            0   0    Failed
19            Yes                 Fit            None  ...           80  93    Passed
20            Yes             Not_Fit     U_Treatment  ...           71  85    Failed
21            Yes                 Fit            None  ...           80  83    Passed
22            Yes                 Fit            None  ...           68  83    Failed
23            Yes                 Fit            None  ...           85  88    Passed
24            Yes                 Fit            None  ...           76  90    Passed
25            Yes                 Fit            None  ...           89  88    Passed
26            Yes                 Fit            None  ...           85  82    Passed
27            Yes                 Fit            None  ...           90  80    Passed
28            Yes                 Fit            None  ...            0   0    Failed
29            Yes             Not_Fit            None  ...           74  75    Passed
30            Yes                 Fit            None  ...           88  90    Passed
31            Yes                 Fit            None  ...           76  85    Passed

[32 rows x 10 columns]

In [9]:
testing = pd.read_csv('Data2016.csv')
testing

   Administration Medical_certificate Medical_history  ...  Shuttle_run  MI  Decision
0             Yes                 Fit            None  ...           80  80    Passed
1             Yes                 Fit            None  ...           89  90    Passed
2             Yes                 Fit            None  ...           86  90    Passed
3             Yes             Not_Fit            None  ...           80  93    Passed
4             Yes                 Fit            None  ...           70  83    Passed
5             Yes                 Fit            None  ...           80  75    Passed
6             Yes             Not_Fit     U_Treatment  ...           88  70    Failed
7             Yes                 Fit            None  ...           80  83    Passed
8             Yes                 Fit            None  ...           74  85    Passed
9             Yes                 Fit            None  ...           78   0    Failed
10            Yes                 Fit            None  ...           78  89    Passed
11            Yes                 Fit            None  ...           80  83    Passed
12            Yes                 Fit            None  ...           80  90    Passed
13            Yes                 Fit            None  ...           86  89    Passed
14            Yes                 Fit            None  ...           78  89    Passed
15            Yes             Not_Fit            None  ...           78  80    Failed
16            Yes                 Fit            None  ...           74  75    Passed
17            Yes                 Fit            None  ...           71  83    Passed
18            Yes                 Fit            None  ...           78  89    Passed
19            Yes                 Fit            None  ...           87  75    Passed
20            Yes                 Fit            None  ...           76  77    Passed
21            Yes                 Fit            None  ...           76  90    Passed
22            Yes                 Fit            None  ...           76  85    Passed
23            Yes                 Fit            None  ...           50  90    Passed

[24 rows x 10 columns]

In [12]:
df1 = pd.read_excel('Data2018and2017.xlsx')
df1

                                     Name Administration  ...  MI Decision
0                  Ni Komang Ayu Sukadani            Yes  ...  90   Passed
1              Gusti Ngurah Sukma Apriadi            Yes  ...  89   Passed
2                            Zesy Gasella            Yes  ...  89   Passed
3                 Iqbal Maulana Hendrawan            Yes  ...  83   Failed
4                      William Hamrouwali            Yes  ...  79   Failed
5                     Gde Bramanta Kusuma            Yes  ...  45   Failed
6                          Elvita Rahmani            Yes  ...  89   Passed
7                     I Gede Wira Pratama            Yes  ...  90   Failed
8             I Putu Dharma Putra Ritzada            Yes  ...  93   Passed
9                      Lalu Riyan Hidayat             No  ...  89   Passed
10                       Imroatul Hasanah            Yes  ...  75   Failed
11  Maulana Hasanudin Raditya Sumintardja            Yes  ...  70   Failed
12                             Iis Sholin            Yes  ...  65   Failed
13                 Rolland Pierce Eleazar            Yes  ...  75   Failed
14                       Juliana Ambarita            Yes  ...  75   Passed
15                   Dewa Gede Yudiarsana            Yes  ...  80   Passed
16                     Maria Wardani Popi            Yes  ...  76   Passed
17                      Teguh Eka Saputra            Yes  ...  90   Passed
18                     Ferry Angga Irawan            Yes  ...   0   Failed
19                          Geni Pitaloka            Yes  ...  93   Passed
20                 Desy Rohmah Nurhasanah            Yes  ...  85   Failed
21                          Syahrul Qodar            Yes  ...  83   Passed
22              Marcellino Joshua Legiman            Yes  ...  83   Failed
23                           Mario Sitepu            Yes  ...  88   Passed
24                     Angga Okta Priandi            Yes  ...  90   Passed
25                          Rizky Mubarok            Yes  ...  88   Passed
26                     Ika Pratiwi Tupong            Yes  ...  82   Passed
27             I Ketut Eka Mahendra Putra            Yes  ...  80   Passed
28           Ni Komang Ayu Rahayu Ningrum            Yes  ...   0   Failed
29                        Hilyatul Azizah            Yes  ...  75   Passed
30                          Dwi Hikmayani            Yes  ...  90   Passed
31                   Ni Putu Nena Lusiana            Yes  ...  85   Passed

[32 rows x 11 columns]

In [13]:
df2 = pd.read_excel('Data2016.xlsx')
df2

                         Name Administration  ...  MI Decision
0   M. Risma Caesar Wirayanti            Yes  ...  80   Passed
1                Rian Azzumar            Yes  ...  90   Passed
2   Andreas Dewa Aditya Putra            Yes  ...  90   Passed
3      Febrianus Setiadi Guru            Yes  ...  93   Passed
4    Ni Kadek Nita Wiryandani            Yes  ...  83   Passed
5            I Made Pratiaksa            Yes  ...  75   Passed
6          Septyan Adi Wibowo            Yes  ...  70   Failed
7      Putu Ayu Erna Mahayani            Yes  ...  83   Passed
8          I Gede Adhi Irawan            Yes  ...  85   Passed
9      Sang Ayu Nyoman Johani            Yes  ...   0   Failed
10              Nana Septyana            Yes  ...  89   Passed
11   Ni Kadek Dessi Dwi Yanti            Yes  ...  83   Passed
12  Pande Komang Harry Sudewa            Yes  ...  90   Passed
13          Kadek Nola Andara            Yes  ...  89   Passed
14    Komang Bayu Budiyatmika            Yes  ...  89   Passed
15      Ni Made Dian Anggreni            Yes  ...  80   Failed
16               Aprilia Sari            Yes  ...  75   Passed
17     Dhiah Ayu Duwi Wahyuni            Yes  ...  83   Passed
18             Adhyaksa Putra            Yes  ...  89   Passed
19         Kadek Bayu Laksana            Yes  ...  75   Passed
20     Ni Nyoman Tirta Yamuna            Yes  ...  77   Passed
21        Ni Made Ayu Ningsih            Yes  ...  90   Passed
22   I Dewa Ayu Dewi Larasati            Yes  ...  85   Passed
23     Ni Made Ayu Darmakerti            Yes  ...  90   Passed

[24 rows x 11 columns]